.grid-content {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 15px;
    width: 100%;
    padding: 28px 100px 383px 100px;
}

.card-body {
    padding: 20px 0 30px 30px;
    text-align: left;
}

.card-title {
    font-weight: 500;
    font-size: 20px;
    color: #424F5E;
}

.card-location {
    margin-top: 16px;
    background: url('../assets/images/location.png') no-repeat left;
    padding: 0px 0px 0px 23px;
    font-weight: 400;
    font-size: 18px;
    color: #424F5E;
}

.card-desc {
    margin: 12px 0 0 0;
    font-weight: 400;
    font-size: 17px;
    color: #424F5E;
}

.card-price {
    margin: 12px 0 0 0;
    font-weight: 500;
    font-size: 20px;
    color: #424F5E;
}

.card-btn {
    border: none;
    border-radius: 10px;
    font-weight: 450;
    font-size: 18px;
    text-align: center;
    color: #F9FAFB;
    padding: 7px 40px 9px 40px;
}